body {
    padding-top: 5rem;
}

.card 
{
    padding: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-text
{
    font-family:cursive;
}

form{
    width: 40%;
}

.form-label{
    font-weight: bold;
}
 i .bi .bi-geo-alt{
    margin-right: 5px;
    height:2px;
    font-size: 25px;
    height: 27px;
    width: 27px
}
.custom-badge {
    background-color: #008080; /* dark teal */
    color: #fff;
  }
  .icon
  {

    height: 40px;
    width:  40px;

  }

  .locationtag
  {
    height: 20x;
    width:  20px;


  }