{% extends 'base.html' %} {% block main %}

<div class="row">
  <div class="col-lg">
    <div class="card mb-3">
      <div class="row card-body">
        <img class="col-sm-6"
        <img src = "{{ url_for('get_uploaded_images', filename = property.photo) }}"/>
        <div class="col-sm-6">
          <h5 class="card-title"><p>{{property.title}}</p></h5>
          <span class="badge rounded-pill bg-primary"><p class="card-text">{{property.price}}</p></span   >
          <span><p class="card-text">{{property.propertyType}}</p></span
          >
          <p class="card-text">{{property.description}}</p>
          <span><p class="card-text"><img class="icon" src="{{url_for('static', filename='bed_icon.png') }}" />{{property.numberofrooms}}</p></span>
          <span><p class="card-text"><span><img class="icon" src="{{url_for('static', filename='bath_icon.png') }}" /></span>{{property.numberofbathrooms}}</p></span>
          <p class="card-text"><span><i class="bi bi-geo-alt"></i></span>{{property.location}}</p>
          <a href="#" class="btn btn-primary">Email Realtor</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}